<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      h1{
        color:#1A64D6;
        font-size:35px;
        font-family:Arial, Helvetica, sans-serif;
        text-align:center;
      }
      h2{
        font-size:30px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;

      }
      .low{
        font-weight: lighter;
      }
      .high{
        font-weight:bold;
      }
      li{
        list-style:none;
        text-align:center;
        color:black;
        display:block;
        margin:0 auto;
        padding:10px 0;
        border-radius:10px;
        background:#FFFFFF;
        transition:all 200ms ease-in-out;
        max-width:400px;
        border:10px solid #FFFFFF;
      }
      li:hover{
        color:black;
        background:#FFFBEF;
      }
      .tomorrow{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: large;
       
      }
      .tomorrow-temp{
        text-align: center;
        font-family:monospace;
        font-weight: lighter;
        font-size: large;
      }
      .sat{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: large;
      }
      .sat-temp{
        font-family:monospace;
        text-align:center;
        font-weight: lighter;
        font-size: larger
      }
      .sun{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: large;
      }
      .sun-temp{
        font-family:monospace;
        text-align:center;
        font-weight: lighter;
        font-size: larger;
      }
      button{
        color:#ffffff;
        background:#1A64D6;
        font-size: 18px;
        padding:20px 30px;
        display:block;
        margin: auto;
        border: 1px solid #1A64D6;
        border-radius: 50px;
      }
      button:hover{
        color:#1A64D6;
        background:#ffffff;
        border-color: #1A64D6;


      }
      .credit{
        font-family:monospace;
        text-align:center;
        font-weight: lighter;
        font-size: larger;
      }
    
    </style>
</head>
<body>
    <h1>
      
      🌤
      
    <br>
    Currently 21&deg; in Tokyo    
    </h1>
    <h2 class="low"13&deg;>
        13&deg;/
        <span class="high">23&deg;</span>
    </h2>
  <ul>
    <li>
  
  <div class="tomorrow">
      🌧  Tomorrow
    <br>
    <br>
    <div class="tomorrow-temp">
        10&deg;/22&deg;
    </div>
    </li>
    <br>
    <br>
    <li>
      <div class="sat">
      🌥 Saturday
    </div>
    <br>
    <div class="sat-temp">
        15&deg;/17&deg;
    </div>
    </li>
    <br>
    <br>
    <li>
    <div class="sun">
☀️ Sunday
    </div>
    <br>
    <div class="sun-temp">
        25&deg;/28&deg;
    </div>
    </li>
    <br>
    <br>
    <button>
        Change city
    </button>
    <br>
    <br>
    <div class="credit">
        Coded by Amber Croyl
    </div>
</body>
</html>